* {
    --primary-color: #2e9c21;
    --border-bottom-style: 1px solid rgba(67, 69, 78, 0.4);
    --border-bottom-style-focus: 1px solid rgba(67, 69, 78, 0.8);
    background-color: #f1f1f1;
    font-family: "forma-djr-micro", sans-serif;
    margin: 0;
    padding: 0;
}

#add-book {
    background-color: var(--primary-color) !important;
    color: #f1f1f1 !important;

}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #f1f1f1;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--primary-color);
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: "\2715";
    cursor: pointer;
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: var(--text-color);
}

.modal__footer {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}

.modal__btn,
#add-book {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: var(--text-color);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

button#add-book:before {
    content: "\002B";
    margin-right: 0.3rem;
}

/** Form **/

fieldset {
    border: none;
    border-radius: 8px;
}

legend {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container {
    position: relative;
    margin-top: 0.3em;
    margin-inline: auto;
    max-width: 40rem;
}

div>label {
    position: absolute;
    top: 8px;
    left: 0;
    color: var(--text-color);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 0.25s;
    opacity: 0.99;
    font-size: 0.9em;
    font-weight: 400;
}

div>input,
.input {
    font-size: 1em;
    min-width: 240px;
    width: 100%;
    padding: 8px 0;
    padding-right: 10px;
    color: var(--text-color);
    border: none;
    border-bottom: var(--border-bottom-style);
    border-radius: 0px;
    outline: none !important;
    transition: border-color 250ms;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input:focus {
    border-color: var(--border-bottom-style-focus) !important;
}

.input::placeholder {
    color: transparent;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    transform: translateY(-105%) scale(0.75);
    opacity: 0.85;
}

.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 14px;
    right: 2px;
    background: none;
    border: none;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    color: var(--text-color);
    opacity: 0.5;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.clear:hover,
.clear:focus {
    opacity: 0.65;
}

div>.input:placeholder-shown+.label+.clear {
    display: none;
}

.input:placeholder-shown {
    border-bottom: var(--border-bottom-style);
}


/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}